# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.local

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs & Databases
*.log
*.sqlite3

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
